Package: enigma2-plugin-extensions-love
Version: VERSION
Description: Enigma2 Add Service To Fav
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: enigma2-plugin-extensions-love
Depends:
Recommends:
Homepage: https://github.com/oottppxx/enigma2/
