Package: enigma2-plugin-extensions-rdebrid
Version: VERSION
Description: Real Debrid PoC
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: enigma2-plugin-extensions-rdebrid
Depends:
Recommends:
Homepage: https://github.com/oottppxx/enigma2
