Package: enigma2-plugin-extensions-pyshell
Version: VERSION
Description: Simple E2 Python Shell
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: enigma2-plugin-extensions-pyshell
Depends:
Recommends:
Homepage: https://github.com/oottppxx/enigma2
