Package: enigma2-plugin-extensions-budweiser
Version: VERSION
Description: Dub weiser
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: enigma2-plugin-extensions-budweiser
Depends: gstreamer1.0, mpg123, wget
Recommends:
Homepage: https://github.com/oottppxx/enigma2/
