Package: enigma2-plugin-extensions-buzzz
Version: VERSION
Description: The Hive EXTM3U generator
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: enigma2-plugin-extensions-buzzz
Depends: python
Recommends:
Homepage: https://github.com/oottppxx/enigma2
