Package: ipkdemo
Version: VERSION
Description: Enigma2 IPK Building Demo
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: ipkdemo
Depends:
Recommends:
Homepage: https://github.com/oottppxx/enigma2/
