Package: enigma2-plugin-extensions-snif
Version: VERSION
Description: Enigma2 Per User Con Tracker
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: enigma2-plugin-extensions-snif
Depends:
Recommends:
Homepage: https://github.com/oottppxx/enigma2/
