Package: enigma2-plugin-extensions-frenchs
Version: VERSION
Description: Mustardy EXTM3U proxy
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: enigma2-plugin-extensions-frenchs
Depends: python
Recommends:
Homepage: https://github.com/oottppxx/enigma2
