Package: enigma2-plugin-extensions-restart
Version: VERSION
Description: Enigma2 Stop/Start Service
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: enigma2-plugin-extensions-restart
Depends:
Recommends:
Homepage: https://github.com/oottppxx/enigma2/
