Package: enigma2-plugin-extensions-autooff
Version: VERSION
Description: Enigma2 Auto Off Streams
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: enigma2-plugin-extensions-autooff
Depends: python
Recommends:
Homepage: https://github.com/oottppxx/enigma2/
