Package: enigma2-plugin-extensions-miraclewhip
Version: VERSION
Description: Suls Remote Config Editor
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: enigma2-plugin-extensions-miraclewhip
Depends:
Recommends:
Homepage: https://github.com/oottppxx/enigma2
