Package: enigma2-plugin-extensions-quarterpounder
Version: VERSION
Description: Enigma2 A Tasty Treat 2
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: enigma2-plugin-extensions-quarterpounder
Depends:
Recommends:
Homepage: https://github.com/oottppxx/enigma2/
