Package: enigma2-plugin-extensions-colacao
Version: VERSION
Description: Enigma2 Cacao en vez de ...
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: enigma2-plugin-extensions-colacao
Depends: python
Recommends:
Homepage: https://github.com/oottppxx/enigma2/
