Package: enigma2-plugin-extensions-subway
Version: VERSION
Description: Subscription info
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: enigma2-plugin-extensions-subway
Depends:
Recommends:
Homepage: https://github.com/oottppxx/enigma2/
