Package: enigma2-plugin-extensions-ritalin
Version: VERSION
Description: Enigma2 Service Spotting
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: enigma2-plugin-extensions-ritalin
Depends:
Recommends:
Homepage: https://github.com/oottppxx/enigma2/
