Package: enigma2-plugin-extensions-pfchangs
Version: VERSION
Description: Enigma2 UPnP Port Forwarding
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: enigma2-plugin-extensions-pfchangs
Depends: python
Recommends:
Homepage: https://github.com/oottppxx/enigma2/
