Package: enigma2-plugin-extensions-absolut
Version: VERSION
Description: VOdka
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: enigma2-plugin-extensions-absolut
Depends:
Recommends: ffmpeg, enigma2-plugin-extensions-openwebif
Homepage: https://github.com/oottppxx/enigma2/
