Package: enigma2-plugin-extensions-line
Version: VERSION
Description: Enigma2 Toggle VBI Line
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: enigma2-plugin-extensions-line
Depends: python
Recommends:
Homepage: https://github.com/oottppxx/enigma2/
