Package: enigma2-plugin-extensions-heinz
Version: VERSION
Description: Poor man's "ketchup"
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: enigma2-plugin-extensions-heinz
Depends:
Recommends: ffmpeg, enigma2-plugin-extensions-openwebif
Homepage: https://github.com/oottppxx/enigma2/
