Package: enigma2-plugin-extensions-snackbar
Version: VERSION
Description: Enigma2 Seekbar Invoker
Section: extra
Priority: optional
Maintainer: @oottppxx
Architecture: all
OE: enigma2-plugin-extensions-snackbar
Depends:
Recommends:
Homepage: https://github.com/oottppxx/enigma2/
